$dark-600: #25262b;
$dark-400: #373a40;

$white-200: #f1f3f5;
$white-100: #f8f9fa;

$blue-500: #339af0;
$blue-400: #4dabf7;
$blue-300: #74c0fc;
$blue-200: #d0ebff;

$purple-500: #d0bfff;
$purple-400: #b197fc;
$purple-300: #9775fa;

$green-400: #40c057;
$red-400: #f03e3e;
