main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  gap: 2.4rem;
  align-items: center;
  .category {
    color: #0f0d81;
    text-align: center;
  }
  .score {
    color: green;
  }
  .card {
    background-color: #fffef9;
    width: 30%;
    padding: 1.6rem;
    border-radius: 8px;
    box-shadow: 3px 3px 10px 0.5px rgba(0, 0, 0, 0.192);
    &__question {
      margin-bottom: 1.2rem;
      color: #0f0d81;
      font-size: 2rem;
      font-weight: bold;
    }
    &__options {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
    }
    &__buttons {
      display: flex;
      justify-content: flex-end;
      margin-top: 1.2rem;
    }
  }
}

@media screen and (min-width: 1279.5px) {
  .card {
    width: 30%;
  }
}

@media screen and (min-width: 959.5px) and (max-width: 1280px) {
  main .card {
    width: 50%;
  }
}

@media screen and (max-width: 960px) and (min-width: 599.5px) {
  main .card {
    width: 70%;
  }
}

@media screen and (max-width: 600px) {
  main .card {
    width: 90%;
  }
}
