@use "../../../assets/style/colors.scss" as *;

.radio-input {
  width: 100%;
  .option-btn {
    all: unset;
    box-sizing: border-box;
    &.light {
      background-color: $white-200;
      color: $dark-600;
      transition: all 0.3s ease-in-out;
      &:hover {
        border: 1px solid $blue-400;
      }
    }
    &.dark {
      background-color: $dark-600;
      color: $white-100;
      transition: all 0.3s ease-in-out;
      &:hover {
        border: 1px solid $purple-400;
      }
    }
    transition: all 0.3s ease-in-out;
    width: 100%;
    padding-left: 1rem;
    height: 5.6rem;
    display: flex;
    align-items: center;
    gap: 0.8rem;
    border-radius: 4px;
    font-weight: bold;
    box-shadow: 2px 2px 6px 0.5px #0000002d;
  }
}

.correct {
  background-color: $green-400 !important ;
  color: $white-100 !important;
}

.incorrect {
  background-color: $red-400 !important;
  color: $white-100 !important;
}
